# Clarinet
.cache/
history.txt

# Node
node_modules/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Secrets
settings/Testnet.toml
settings/Mainnet.toml
